fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
PyJWT
pwdlib[argon2]
redis
celery
email-validator
websockets
pytest
pytest-asyncio
httpx
mypy